<html>
<head>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="dns-prefetch" href="./litten.me">
    <title>Flyfire的博客 $!page_title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="低调小程序员一枚。此为博客一枚。">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Flyfire的博客">
    <meta property="og:url" content=".//flyfire.com.cn/index.vm">
    <meta property="og:site_name" content="flyfire的博客">
    <meta property="og:description" content="低调小程序员一枚。此为博客一枚。">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Flyfire的博客">
    <meta name="twitter:description" content="低调小程序员一枚。此为博客一枚。">
    <link rel="alternative" href="./atom.xml" title="Flyfire的博客" type="application/atom+xml">


    <link rel="icon" href="./assets/img/favicon.ico">

    <link rel="stylesheet" href="css/main.css?v=4.0.0.css">


</head>

<body>

$screen_content
</body>
</html>